@import "_pikaday";

body {
  margin: 2em;
  color: #000000;
  background-color: #EEEEEE;
}

.resource-row {
  &:hover {
    background-color: #f6fffe;
    color: #d5008f;
    transition: background-color .15s ease-in;
  }
  border-bottom: dashed #707578 0.5px;
}

.b-navy {
  background-color: navy;
}

.actions-cell {
  a {
    margin: auto 0.5em;
  }
}