@import "_pikaday";

// vars
@yellow: rgb(249, 221, 133);

body {
  margin: 2em;
  color: #000000;
  background-color: #EEEEEE;
}

.resource-row {
  &:hover {
    background-color: #f6fffe;
    color: #d5008f;
    transition: background-color .15s ease-in;
  }
  border-bottom: dashed #707578 0.5px;
}

.b-navy {
  background-color: rgba(0, 0, 117, 1);
}

.b-yellow {
  background-color: @yellow;
}

.actions-cell {
  a {
    margin: auto 0.5em;
  }
}

.status-dot {
  text-align: center;
  width: 100%;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

// TODO: animate
.blue_anime {
  color: blue;
}

@keyframes border-pulsate {
  0%   {
    border-color: rgba(249, 221, 133, 1);
    background-color: @yellow;
  }
  50% {
    border-color: rgba(249, 221, 133, 0.5);
    background-color: @yellow;
  }
  100% {
    border-color: rgba(249, 221, 133, 0);
    background-color: @yellow;
  }
}

td.animate {
  box-sizing: border-box;
  border: 0.5rem solid rgb(249, 221, 133);
  animation: border-pulsate 2s;
}

#table {
  td, td.animate {
    border: 0.15rem solid;
    border-color: inherit;
    border-bottom: none;
  }
}
